<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board_table">
	<!-- 관리자 Q&A 페이징 -->
	<select id="count" resultType="int">
		select count(*) from Board_table
	</select>
	
	<!-- 관리자 Q&A 전체보기 -->
	<select id="board_list" resultType="bovo" parameterType="Map">
		select * from Board_table order by groups desc, lev asc limit #{limit} offset #{offset}
	</select>
	
	<!-- 관리자 Q&A 상세보기 -->
	<select id="board_detail" resultType="bovo" parameterType="String">
		select * from Board_table where bo_idx = #{bo_idx}
	</select>
	
	<!-- 관리자 신고 페이징 -->
	<select id="count2" resultType="int">
		select count(*) from Report_table
	</select>
	
	<!-- 관리자 신고 전체보기 -->
	<select id="report_list" resultType="revo" parameterType="Map">
		select * from Report_table limit #{limit} offset #{offset}
	</select>
	
	<!-- 관리자 신고 상세보기 -->
	<select id="report_detail" resultType="revo" parameterType="String">
		select * from Report_table where report_idx = #{report_idx}
	</select>
	
	
	<update id="lev_update" parameterType="Map">
		update Board_table set lev=lev+1 where groups=#{groups} and lev >= #{lev}
	</update>
	
	<!-- Q&A 답글 가져오기 -->	
	<select id="commentlist" resultType="comvo" parameterType="String">
		select * from Comment_table where bo_idx = #{bo_idx}
	</select>
	
	<!-- Q&A 답글 작성 -->
	<insert id="comment_insert" parameterType="comvo">
		insert into Comment_table(com_writer, com_title, com_content, com_regdate, com_status, bo_idx)
		values(#{com_writer}, #{com_title}, #{com_content}, sysdate(), 1, #{bo_idx})
	</insert>

	<!-- Q&A 게시판 작성 (사용자) -->
	<insert id="board_insert" parameterType="bovo">
		<selectKey keyProperty="groups" resultType="String" order="BEFORE">
            SELECT (IFNULL(MAX(bo_idx),0)+1) as groups FROM Board_table
        </selectKey>
		insert into Board_table(bo_writer, bo_title, bo_content, bo_pwd, bo_hit, step, groups, lev, bo_regdate, f_name)
		values(#{bo_writer}, #{bo_title}, #{bo_content}, #{bo_pwd}, 0, #{step}, #{groups}, #{lev}, sysdate(), #{f_name})
	</insert>
</mapper>

