<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board_table">
	<!-- 관리자 Q&A 페이징 -->
	<select id="count" resultType="int">
		select count(*) from Board_table where active = 0
	</select>
	
	<!-- 관리자 Q&A 전체보기 -->
	<select id="admin_board_list" resultType="bovo" parameterType="Map">
		select * from Board_table 
		where active = 0
		order by bo_regdate desc
		limit #{limit} offset #{offset} 
	</select>
	
	<!-- 관리자 Q&A 상세보기 -->
	<select id="board_detail" resultType="bovo" parameterType="String">
		select * from Board_table where bo_idx = #{bo_idx}
	</select>
	
	<!-- 관리자 신고 페이징 -->
	<select id="count2" resultType="int">
		select count(*) from Report_table where active = 0
	</select>
	
	<!-- 관리자 신고 전체보기 -->
	<select id="admin_report_list" resultType="revo" parameterType="Map">
		select * from Report_table 
		where active = 0
		order by report_regdate desc
		limit #{limit} offset #{offset}
	</select>
	
	<!-- 관리자 신고 상세보기 -->
	<select id="report_detail" resultType="revo" parameterType="String">
		select * from Report_table where report_idx = #{report_idx}
	</select>
	
	
	<update id="lev_update" parameterType="Map">
		update Board_table set lev=lev+1 where groups=#{groups} and lev >= #{lev}
	</update>
	
	<!-- Q&A 답글 가져오기 -->	
	<select id="commentlist" resultType="comvo" parameterType="String">
		select * from Comment_table where bo_idx = #{bo_idx}
	</select>
	
	<!-- Q&A 답글 작성 -->
	<insert id="comment_insert" parameterType="comvo">
		insert into Comment_table(com_writer, com_title, com_content, com_regdate, com_status, bo_idx)
		values(#{com_writer}, #{com_title}, #{com_content}, sysdate(), 1, #{bo_idx})
	</insert>
	
	<update id="comment_update" parameterType="String">
		update Board_table
		set active = 1
		where bo_idx = #{bo_idx}
	</update>
	
	<!-- Q&A 답글 수정 -->
	<update id="comment_update_ok" parameterType="String">
		update Comment_table
		set com_writer = #{com_writer}, com_content = #{com_content}, com_regdate=sysdate()
		where bo_idx = #{bo_idx}
	</update>
	
	
	<!-- 신고 답글 가져오기 -->	
	<select id="replylist" resultType="repvo" parameterType="String">
		select * from Reply_table where report_idx = #{report_idx}
	</select>
	
	<!-- 신고 답글 작성 -->
	<insert id="reply_insert" parameterType="repvo">
		insert into Reply_table(report_idx, rep_writer, rep_title, rep_content, rep_regdate, rep_status)
		values(#{report_idx}, #{rep_writer}, #{rep_title}, #{rep_content}, sysdate(), 1)
	</insert>
	
	<update id="reply_update" parameterType="String">
		update Report_table
		set active = 1
		where report_idx = #{report_idx}
	</update>
	
	<!-- 신고 답글 삭제 -->
	<delete id="reply_delete" parameterType="repvo">
		delete from Reply_table where rep_idx = #{rep_idx}
	</delete>

	<!-- Q&A 게시판 작성 (사용자) -->
	<insert id="board_insert" parameterType="bovo">
		<selectKey keyProperty="groups" resultType="String" order="BEFORE">
            SELECT (IFNULL(MAX(bo_idx),0)+1) as groups FROM Board_table
        </selectKey>
		insert into Board_table(bo_writer, bo_title, bo_content, bo_pwd, bo_regdate, u_idx)
		values(#{bo_writer}, #{bo_title}, #{bo_content}, #{bo_pwd}, sysdate(), #{u_idx})
	</insert>
	
	<!-- Q&A 게시판 수정 (사용자) -->
	<update id="board_update" parameterType="bovo">
		update Board_table
		set bo_writer=#{bo_writer}, bo_title=#{bo_title}, bo_content=#{bo_content}
		where bo_idx=#{bo_idx}
	</update>
	
	<!-- Q&A 게시판 삭제 (사용자) -->
	<delete id="board_delete" parameterType="bovo">
		delete from Board_table where bo_idx = #{bo_idx}
	</delete>

	<!-- 신고 게시판 작성 (사용자) -->
	<insert id="report_insert" parameterType="revo">
		<selectKey keyProperty="groups" resultType="String" order="BEFORE">
            SELECT (IFNULL(MAX(report_idx),0)+1) as groups FROM Report_table
        </selectKey>
		insert into Report_table(report_title, report_content, report_writer, report_regdate, step, report_pwd, u_idx)
		values(#{report_title}, #{report_content}, #{report_writer}, sysdate(), #{step}, #{report_pwd}, #{u_idx})
	</insert>
	
	<!-- 신고 게시판 수정 (사용자) -->
	<update id="report_update" parameterType="revo">
		update Report_table
		set report_writer=#{report_writer}, report_title=#{report_title}, report_content=#{report_content}
		where report_idx=#{report_idx}
	</update>
	
	<!-- 신고 게시판 삭제 (사용자) -->
	<delete id="report_delete" parameterType="revo">
		delete from Report_table where report_idx = #{report_idx}
	</delete>
	
	<!-- 회원정보 상세보기 -->
	<select id="user_detail" parameterType="String" resultType="userVO">
		select * from User_table where u_idx = #{u_idx}
	</select>
	
	<!-- 회원정보수정 -->
	<update id="user_update" parameterType="userVO">
		update User_table
		set u_phone=#{u_phone}, u_email=#{u_email}, u_postcode=#{u_postcode}, u_addr=#{u_addr}, 
		 u_detail_addr=#{u_detail_addr}, u_detail_addr2=#{u_detail_addr2}
		where u_idx = #{u_idx}
	</update>
	
	<!-- 비밀번호변경 -->
	<update id="pwd_update" parameterType="userVO">
		update User_table
		set u_pwd=#{u_pwd}
		where u_idx = #{u_idx}
	</update>
	
	<!-- 사용자 Q&A 페이징 -->
	<select id="count3" resultType="int" parameterType="String">
		select count(*) from Board_table where u_idx = #{u_idx}
	</select>
	
	<!-- 사용자 Q&A 전체보기 -->
	<select id="board_list" resultType="bovo" parameterType="Map">
		select * from Board_table 
		where u_idx = #{u_idx}
		order by bo_regdate desc
		limit #{limit} offset #{offset} 
	</select>
	
	<!-- 사용자 신고 페이징 -->
	<select id="count4" resultType="int" parameterType="String">
		select count(*) from Report_table where u_idx = #{u_idx}
	</select>
	
	<!-- 사용자 신고 전체보기 -->
	<select id="report_list" resultType="revo" parameterType="Map">
		select * from Report_table 
		where u_idx = #{u_idx}	
		order by report_regdate desc
		limit #{limit} offset #{offset} 	
	</select>
	
	<!-- 관리자 전체 Q&A 페이징 -->
	<select id="count5" resultType="int">
		select count(*) from Board_table
	</select>
	
	<!-- 관리자 Q&A 전체보기 -->
	<select id="admin_board_list2" resultType="bovo" parameterType="Map">
		select * from Board_table 
		order by bo_regdate desc
		limit #{limit} offset #{offset} 
	</select>
	
	<!-- 관리자 전체 신고 페이징 -->
	<select id="count6" resultType="int">
		select count(*) from Report_table
	</select>
	
	<!-- 관리자 신고 전체보기 -->
	<select id="admin_report_list2" resultType="revo" parameterType="Map">
		select * from Report_table 
		order by report_regdate desc
		limit #{limit} offset #{offset} 
	</select>
	
	<!-- 회원관리 페이징 -->
	<select id="count7" resultType="int">
		select count(*) from User_table
	</select>
	
	<!-- 회원관리 전체보기 -->
	<select id="user_list" resultType="userVO" parameterType="Map">
		select * from User_table 
		order by u_idx desc
		limit #{limit} offset #{offset} 
	</select>
	
	<!-- 관리자 상세보기 -->
	<select id="admin_detail" parameterType="String" resultType="adminVO">
		select * from Admin_table where a_idx = #{a_idx}
	</select>
	
	<!-- 회원관리 삭제 -->
	<update id="user_delete" parameterType="userVO">
		update User_table
		set active = 1, u_del = #{u_del}, out_regdate = sysdate(), u_restore = #{u_restore}
		where u_idx = #{u_idx}
	</update>
	
	<!-- 회원관리 복구 -->
	<update id="user_Restore" parameterType="userVO">
		update User_table
		set active = 0, u_restore = #{u_restore}, out_regdate = #{out_regdate}, u_del = #{u_del}, re_regdate = sysdate()
		where u_idx = #{u_idx}
	</update>
	
	<!-- 나의 리뷰 -->
	<select id="myreview_list" resultType="myvo" parameterType="Map">
		select * from Review_table 
		where u_idx = #{u_idx}
		order by re_regdate desc
		limit #{limit} offset #{offset}
	</select>
	
	<!-- 회원현황 -->
	<select id="user_total" resultType="userVO">
		SELECT
		    SUM(CASE WHEN active = 0 THEN 1 ELSE 0 END) AS inactiveUsers,
		    SUM(CASE WHEN active = 1 THEN 1 ELSE 0 END) AS activeUsers
		FROM User_table
	</select>
	
	<!-- 일일 가입자 수 -->
	<select id="join_user" resultType="userVO">
		SELECT DATE(u_regdate) AS join_date, COUNT(*) AS user_count
		FROM User_table
		WHERE u_regdate >= DATE_SUB(NOW(), INTERVAL 7 DAY)
		GROUP BY DATE(u_regdate)
		ORDER BY join_date
	</select>
	
</mapper>

