<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="calendar">
	<!-- 전체보기 -->
	<select id="cal_list" resultType="cvo4">
		select * 
		 from Calendar_table c
		 inner join Visitjeju_table v on v.contentsid = c.contentsid
		 inner join User_table u on u.u_idx = c.u_idx
		 where c.c_status = 0 
		 order by c.c_idx
	</select>
	<!-- 삭제 -->
    <delete id="delete" parameterType="String">
    	delete from Calendar_table where c_idx=#{c_idx}
    </delete>
<!--     저장
    <insert id="insert" parameterType="Map">
    	insert into Calendar_table(u_idx, contentsid, c_title, c_start, c_end)
    	 values(#{u_idx}, #{contentsid}, #{title}, #{start}, #{end})
    </insert> -->
	<select id="tripList" resultType="cvo4">
		select * 
		 from Calendar_table c
		 inner join Visitjeju_table v on v.contentsid = c.contentsid
		 inner join User_table u on u.u_idx = c.u_idx
		 where c.c_status = 1
		 order by c.c_idx   
    </select>
    <select id="likeList" resultType="lvo">
    	select * 
    	from Like_table l
    	inner join User_table u on u.u_idx = l.u_idx 
    	inner join Visitjeju_table v on v.contentsid = l.contentsid
    	where l.like_active=1
    </select>
</mapper>

