<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="category">
    <select id="selectList" parameterType="String" resultType="caVO">
    	select * from Visitjeju_table where vi_value = #{vi_value}
    </select>
    
    <select id="count" resultType="int" parameterType="String">
    	select count(*) from Visitjeju_table where vi_value = #{vi_value}
    </select>
    <select id="board_list" parameterType="Map" resultType="caVO">
    	select * from Visitjeju_table where vi_value = #{vi_value} limit #{limit} offset #{offset}
    </select>
    
    <!-- <select id="board_list" parameterType="Map" resultType="caVO">
    	select * from Visitjeju_table where vi_value = #{vi_value}
    		<choose>
    			<when test="option_select === option1">
    				SELECT * FROM visitjeju_table ORDER BY vi_hit DESC; 
    			</when>
    			<when test="option_select === option2">
    				SELECT * FROM visitjeju_table ORDER BY vi_title DESC; 
    			</when>
    			<when test="option_select === option3">
    				SELECT * FROM visitjeju_table ORDER BY vi_title ASC; 
    			</when>
    			<otherwise>
    				
    			</otherwise>
    		</choose>
    	 limit #{limit} offset #{offset}
    </select> -->
</mapper>