<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="category">
    <select id="selectList" parameterType="String" resultType="caVO">
    	select * from Visitjeju_table where vi_value = #{vi_value}
    </select>
    
    <select id="count" resultType="int" parameterType="String">
    	select count(*) from Visitjeju_table where vi_value = #{vi_value}
    </select>
  
    <select id="board_list" parameterType="Map" resultType="caVO">
    		SELECT * FROM Visitjeju_table where vi_value = #{vi_value}
    		<choose>
    			<when test="option == 'option1'">
    				 ORDER BY vi_hit DESC
    			</when>
    			<when test="option == 'option2'">
    				 ORDER BY vi_title ASC
    			</when>
    			<otherwise>
    				 ORDER BY vi_title DESC
    			</otherwise>
    		</choose>
	    	limit #{limit} offset #{offset}
    </select>
    
    <select id="count2" resultType="int" parameterType="String">
    	select count(*) from Visitjeju_table where vi_title like CONCAT('%', #{keyword}, '%')
    </select>
    
    <select id="searchList" parameterType="Map" resultType="caVO">
    	select * 
		from Visitjeju_table 
		where vi_title like CONCAT('%', #{keyword}, '%')
		limit #{limit} offset #{offset}
    </select>
</mapper>