<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="place">
	<select id="popularList" resultType="PlaceListVO">
		select *
		from Visitjeju_table
		order by vi_hit desc
		limit 20
	</select>
	
	<select id="placeDetail" parameterType="String" resultType="PlaceListVO">
		select * 
		from Visitjeju_table 
		where contentsid = #{contentsid}
	</select>
	
	<select id="likeNum" parameterType="String" resultType="int">
		select count(*)
		from Like_table l
		inner join Visitjeju_table v on v.contentsid = l.contentsid
		where l.contentsid = #{contentsid}
	</select>
	
	<select id="qaNum" parameterType="String" resultType="int">
		select count(*)
		from Board_table b
		inner join Visitjeju_table v on v.contentsid = b.contentsid
		where b.contentsid = #{contentsid}
	</select>
	
	<select id="reviewNum" parameterType="String" resultType="int">
		select count(*)
		from Review_table r
		inner join Visitjeju_table v on v.contentsid = r.contentsid
		where r.contentsid = #{contentsid}
	</select>
	
	<update id="hitUpdate" parameterType="String">
		update Visitjeju_table 
		set vi_hit = vi_hit + 1 
		where contentsid = #{contentsid}
	</update>
	
	<select id="searchList" parameterType="String" resultType="PlaceListVO">
		select * 
		from Visitjeju_table 
		where vi_title like CONCAT('%', #{keyword}, '%')
	</select>
	
	<insert id="qaWrite" parameterType="QaVO">
		insert into Board_table(u_idx, contentsid, bo_writer, bo_title, bo_content, bo_pwd, bo_regdate, disclosure) 
		values(#{u_idx}, #{contentsid}, #{u_name}, #{bo_title}, #{bo_content}, #{bo_pwd}, sysdate(), #{disclosure}) 
	</insert>
	
	<select id="qaList" parameterType="PagingVO" resultType="QaVO">
		select * 
		from Board_table 
		where contentsid = #{contentsid} 
		order by bo_regdate desc
		limit #{limit}
		offset #{offset}
	</select>
	
	<insert id="reviewWrite" parameterType="ReviewVO">
		insert into Review_table(u_idx, contentsid, u_profile_img, u_name, re_content, re_grade, re_regdate) 
		values(#{u_idx}, #{contentsid}, #{u_profile_img}, #{u_name}, #{re_content}, #{re_grade}, sysdate()) 
	</insert>
	
	<insert id="imageInsert" parameterType="ImagesVO">
		<selectKey keyProperty="re_idx" resultType="String" order="BEFORE">
			SELECT (IFNULL(MAX(re_idx),0)) as re_idx FROM Review_table
	    </selectKey>
	    INSERT INTO Picture_table (re_idx, pic_file)
	    VALUES (#{re_idx}, #{pic_file})
	</insert>
	
	<resultMap type="ReviewVO" id="ReviewMap">
		<result column="re_idx" property="re_idx"/>
		<result column="u_idx" property="u_idx"/>
		<result column="contentsid" property="contentsid"/>
		<result column="re_content" property="re_content"/>
		<result column="re_grade" property="re_grade"/>
		<result column="re_regdate" property="re_regdate"/>
		<collection column="re_idx" 
			property="imageList" 
			javaType="java.util.List" 
			ofType="ImagesVO" 
			select="imageList" />
	</resultMap>
	
	<select id="reviewList" parameterType="PagingVO" resultMap="ReviewMap">
		select * 
		from Review_table 
		where contentsid = #{contentsid} 
		order by re_regdate desc
		limit #{limit}
		offset #{offset}
	</select>
	
	<select id="imageList" parameterType="String" resultType="ImagesVO">
		select * 
		from Picture_table
		where re_idx = #{re_idx}
	</select>

</mapper>

