<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">
    <select id="login" parameterType="userVO" resultType="userVO">
    	SELECT * FROM User_table WHERE u_id = #{u_id}
    </select>
    
    <insert id="join" parameterType="userVO">
    	INSERT INTO User_table(u_id, u_pwd, u_name, u_birth, u_email, u_phone, u_postcode, u_detail_addr, u_detail_addr2, u_addr, u_gender, u_state, u_regdate, u_profile_img)
    	 VALUES(#{u_id}, #{u_pwd}, #{u_name}, #{u_birth}, #{u_email}, #{u_phone}, #{u_postcode}, #{u_detail_addr}, #{u_detail_addr2}, #{u_addr}, #{u_gender}, '홈페이지_가입', sysdate(), #{u_profile_img})
    </insert>
    
    <select id="id_chk" parameterType="String" resultType="int">
    	SELECT COUNT(*) FROM User_table WHERE u_id = #{u_id}
    </select>
   
   <update id="chgpwd" parameterType="userVO">
		UPDATE User_table SET u_pwd = #{u_pwd} WHERE u_id = #{u_id} AND u_email = #{u_email}
   </update>
    
    <select id="find_id" parameterType="userVO" resultType="userVO">
    	SELECT * FROM User_table WHERE u_name = #{u_name} AND u_email = #{u_email}
    </select>
    
    <select id="kakao_find" parameterType="Map" resultType="userVO">
    	SELECT * FROM User_table WHERE u_email =#{email} AND u_name = #{nickname}
    </select>
    
    <insert id="kakao_join" parameterType="Map">
    	INSERT INTO User_table(u_id, u_pwd, u_name, u_birth, u_email, u_phone, u_postcode, u_detail_addr, u_detail_addr2, u_addr, u_gender, u_state, u_regdate)
    	 VALUES(#{nickname}, '정보 없음', #{nickname}, '정보 없음', #{email}, '정보 없음', '정보 없음', '정보 없음', '정보 없음', '정보 없음', '정보 없음', 'SNS_카카오', sysdate())
    </insert>
    
    <select id="naver_find" parameterType="Map" resultType="userVO">
    	SELECT * FROM User_table WHERE u_email =#{email} AND u_name = #{name} AND u_id = #{nickname}
    </select>
    
    <insert id="naver_join" parameterType="Map">
    	INSERT INTO User_table(u_id, u_pwd, u_name, u_birth, u_email, u_phone, u_postcode, u_detail_addr, u_detail_addr2, u_addr, u_gender, u_state, u_regdate)
    	 VALUES(#{nickname}, '정보 없음', #{name}, '정보 없음', #{email}, '정보 없음', '정보 없음', '정보 없음', '정보 없음', '정보 없음', '정보 없음', 'SNS_네이버', sysdate())
    </insert>
    
    
</mapper>









