<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<!-- MyBatis에서 쿼리에 매핑되는 파리미터에 null값이 있을 경우 에러발생 방지 -->
		<setting name="jdbcTypeForNull" value="NULL" />
		<!-- MyBatis에서 캐싱기능 종료 -->
		<setting name="cacheEnabled" value="false" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.ict.jeju.ygh.dao.BoardVO" alias="bovo"/>
		<typeAlias type="com.ict.jeju.ygh.dao.ReportVO" alias="revo"/>
		<typeAlias type="com.ict.jeju.pdh.dao.PlaceListVO" alias="PlaceListVO" />
    	<typeAlias type="com.ict.jeju.ygh.dao.CommentVO" alias="comvo"/>
	    <typeAlias type="com.ict.jeju.lsh.dao.UserVO" alias="userVO"/>
		<typeAlias type="com.ict.jeju.wyy.dao.CalendarVO4" alias="cvo4" />
		<typeAlias type="com.ict.jeju.wyy.dao.LikeVO" alias="lvo"/>
    	<typeAlias type="com.ict.jeju.chm.dao.CategoryVO" alias="caVO" />
    	<typeAlias type="com.ict.jeju.wyy.dao.VisitJejuVO4" alias="viVO4" />
    	<typeAlias type="com.ict.jeju.wyy.dao.UserVO4" alias="uvo4" />
	</typeAliases>

	<mappers>
		<mapper resource="mappers/calendar-mapper.xml" />
		<mapper resource="mappers/board-mapper.xml" />
    	<mapper resource="mappers/user-mapper.xml" />
    	<mapper resource="mappers/category-mapper.xml"/>
    	<mapper resource="mappers/place-mapper.xml"/>
	</mappers>

</configuration>
