@charset "UTF-8";

@font-face {
	font-family: 'GmarketSansLight';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

#menubar table {
	width: 500px;
	margin: 10px auto 50px;
}

#menubar>h1 {
	width: 800px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	border-bottom: 2px solid black;
	padding-bottom: 20px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.admin_result {
	text-align: center;
	margin: 135px auto;
	line-height: 2;
	width: 75%;
}

.admin_result p {
	padding-bottom: 17px;
}

.admin_category {
	padding: 10px;
	width: 59%;
	text-align: center;
}

.admin_input {
	padding: 10px;
	width: 56%;
}

.name_category {
	width: 20%;
	text-align: right;
	display: inline-block;
	vertical-align: top;
	line-height: 39px;
}

.input_category {
	width: 45%;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

#input_button {
	padding: 10px;
	width: 20%;
}

#contents_idchk {
	padding: 10px;
	width: 20%;
}

#contentsid {
	width: 35%;
}

#sample4_jibunAddress {
	width: 35%;
}

#input_submit {
	padding: 10px;
	width: 30%;
}