@charset "UTF-8";

.background{
  width: 95vw; 
  height: 72.5vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.wrapper_top{
  width: 100%;
  height: 5.2vh; 
  margin-bottom: 1.3vh; 
}

.wrapper_top_inner{
  width: 37.8vw; 
  height: 100%;
  margin-left: 2.7vw;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  
}

.wrapper_top_left{
  width: 18.9vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 1.2vh;
}

.wrapper_top_right{
  width: 18.9vw;  
  height: 100%;
}

.wrapper_top_category_id{
  font-size: 2.3vh;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  margin-right: 0.5vh;
}


.wrapper_top_category_name{
  margin-right: 1.3vw;
}

.wrapper_bottom{
  width: 100%;
  height: 60.5vh; 

  display: flex;
  flex-wrap: row;
  text-align: center;
}

.wrapper_bottom_LR{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper_left {
  width: 54.1vw;
  height: 60.5vh;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(4, auto); 
  
  /* padding: 1.3vh; */
  max-height: 60.5vh; 
  overflow-y: auto; 
}

.wrapper_left::-webkit-scrollbar {
    display: none;
}

.wrapper_right{
  width: 40.9vw; 
  height: 60.5vh; 

}

.category_box {
  width: 16.2vw; 
  height: 40.8vh; 
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  margin-bottom: 2vw;
  cursor: pointer;
}
.category_box p{
	font-family: 'NanumSquare';
}

.category_box.collapsed {
  margin-top: -20px;
  padding-top: 20px;
  transform: scale(0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0.0, 0.8); 
  background-color: snow;
}


.category_img{
  width: 14.2vw; 
  height: 14.2vw; 
}

.category_id{ 
  margin-top:1.0vh;
  font-family: 'Times New Roman', Times, serif; font-weight: bold;
}

.category_title{
  margin: 1vh; 
}

.category_hits{
  margin: 1vh; 
}

.wrapper_footer{
  width: 100%;
  height: 6.3vh; 
  display: flex;
  flex-direction: row;
  margin: 0;
}

.footer_left{
  width: 51.2vw; 
  height: 4.3vh; 
  display:flex;
  flex-direction:row;
  
  margin:0;
  padding-left: 0.5vw;
  padding-top: 1vh;
  align-items : center;
  justify-content: center;

}

ol{
  list-style: none;
  display: flex;
  flex-direction: row;
  
  padding: 0 1.3vw 0 1.3vw;
}

ol li {
    margin: 0 1.3vw;
  
}
ol li a {
	  text-decoration: none;
	  color : black;
}

.footer_right{
  width: 41vw; 
  height: 6.3vh; 
}

.not_search{
	width: 54.1vw;
  	height: 60.5vh;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding-top: 4vw;
  	
}

.not_found{
	display: flex;
	flex-direction: row;
}

.keyword {
	font-size: 32px;
}