@charset "UTF-8";

@font-face {
	font-family: 'EF_jejudoldam';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSansLight';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GangwonEdu_OTFLightA';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: '116angduk_honesty15';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/116angduk_honesty15.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

.main_image {
	width: 100%;
	height: 600px;
	object-fit: cover;
	top: 0;
	z-index: -1;
	position: absolute;
	filter: brightness(70%)
}

.header {
	display: flex;
	margin: 40px 0 0 1.5%;
	width: 98.5%;
	z-index: 10;
	color: white;
}

.title {
	font-family: 'EF_jejudoldam';
	font-size: 40px;
}

.a_tag {
	text-decoration: none;
	color: white;
}

.a_tag:hover {
	color: #D9D9D9;
}

.nav {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	width: 43%;
}

.nav_list, .nav-list__right {
	font-family: 'GmarketSansLight';
	font-weight: bold;
	font-size: 17px;
	line-height: 50px;
}

.nav-list__right {
	list-style-type: none;
	display: flex;
	position: absolute;
	justify-content: space-between;
	right: 1.5%;
	width: 500px;
}

.search-icon, .delete-icon {
	color: white;
	background-color: transparent;
	border: none;
	font-size: 23px;
	line-height: 22px;
}

.delete-icon:hover {
	color: #b9b9b9;
}

.search-bar {
	width: 300px;
	border-radius: 30px;
	border: none;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 4px 10px;
	display: flex;
	align-items: center;
	line-height: 50px;
	height: 25px;
	margin-top: 8px;
}

.search-field {
	font-family: 'NanumSquare';
	margin-left: 5px;
	outline: none;
	background-color: transparent;
	width: 260px;
	border: none;
	height: 25px;
	line-height: 50px;
}

.search-field:focus {
	outline: none;
}

.place_name {
	font-family: 'GangwonEdu_OTFLightA';
	letter-spacing: 10px;
	color: white;
	font-size: 60px;
	margin-top: 430px;
	position: absolute;
	right: 30px;
}

.icons {
	margin: 570px auto 60px auto;
	width: 60%;
	table-layout: fixed;
}

.icons-section {
	width: 100%;
}

.icons-detail {
	font-family: 'GmarketSansLight';
	color: #868686;
}

.icons-number {
	font-family: 'GmarketSansMedium';
	color: #FFBB36;
}

.icons-section td {
	text-align: center;
	padding-bottom: 10px;
	border-radius: 50px;
}

.border-right {
	border-right: 2px solid #D9D9D9;
}

.no-border-right {
	border: none;
}

.icons-button {
	border: none;
	font-family: 'GmarketSansMedium';
	width: 100px;
	height: 40px;
	border-radius: 50px;
	font-size: 15px;
	background-color: #D9D9D9;
	cursor: pointer;
}

.icon {
	color: #868686;
	background-color: transparent;
	border: none;
	font-size: 60px;
}

.vertical_line {
	color: #D9D9D9;
	font-size: 60px;
}

.detail-section {
	width: 80%;
	margin: 0 auto 50px auto;
}

.detail-section__bar {
	display: flex;
	justify-content: space-between;
	background-color: #F4F4F4;
	height: 60px;
	border-radius: 50px;
}

.detail-title {
	line-height: 63px;
	padding-left: 30px;
	font-family: 'GmarketSansMedium';
	font-size: 20px;
}

.expand_icon {
	line-height: 63px;
	font-size: 30px;
	padding-right: 30px;
}

#map {
	width: 90%;
	height: 500px;
	margin: 10px auto;
}

.qa_title__section {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: 20px auto;
}

.qa_title {
	font-family: 'GmarketSansMedium';
	font-size: 25px;
	line-height: 45px;
}

.qa_table {
	width: 90%;
	margin: 10px auto;
}

.qa_table thead {
	border-top: 3px solid #909090;
	border-bottom: 2px solid #D9D9D9;
	text-align: center;
	height: 40px;
	line-height: 40px;
}

.qa_table tr {
	border-bottom: 2px solid #D9D9D9;
	font-family: 'NanumSquare';
	font-size: 18px;
}

.qa_table td {
	height: 40px;
	line-height: 40px;
}

.write_button, .write_r_button {
	border: none;
	font-family: 'GmarketSansMedium';
	width: 100px;
	height: 40px;
	border-radius: 50px;
	font-size: 15px;
	background-color: #D9D9D9;
}

#qa_write, #review_write {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
}

.note-editor {
	background-color: white; /* 흰색 배경색 설정 */
}

.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	top: 0;
	display: none;
}

.qa_write__container {
	width: 650px;
	background-color: white;
	margin: 0 auto;
	border-radius: 20px;
}

.qa_wrtie__title {
	font-family: 'GmarketSansMedium';
	text-align: center;
	padding: 30px 0;
	font-size: 20px;
}

.qa_write__content {
	font-family: 'NanumSquare';
	margin: 0 auto;
}

.qa_write__container tr, .qa_write__container td {
	border: 1px solid #D9D9D9;
	height: 35px;
	line-height: 35px;
	text-align: center;
}

.qa_write__buttons {
	text-align: center;
	padding-top: 20px;
}

.qa_write__button, .review_write__button {
	border: none;
	font-family: 'GmarketSansMedium';
	width: 100px;
	height: 40px;
	border-radius: 50px;
	font-size: 15px;
	background-color: #D9D9D9;
	cursor: pointer;
	box-sizing: border-box;
}

.qa_write__button:hover, .qa_write__button:active {
	background-color: #b9b9b9;
	color: #868686;
}

.note-editor {
	margin: 0 auto;
}

.review_title__section {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: 20px auto;
}

.hr {
	width: 90%;
	margin: 10px auto;
	border: 1px solid #D9D9D9;
}

.star {
	font-family: '116angduk_honesty15';
	font-size: 30px;
	letter-spacing: 5px;
}

.review-content {
	width: 90%;
	font-family: 'NanumSquare';
	font-size: 18px;
	margin: 30px auto;
	display: flex;
}

.review-content__left {
	width: 200px;
	text-align: center;
	line-height: 30px;
	margin-right: 15px;
}

.review-content__right {
	width: 100%;
}

.review-content__right p {
	color: #D9D9D9;
}

.review-content__text {
	width: 99%;
	position: relative;
	word-break: break-all;
}

.review-content__right img {
	margin: 10px 10px 0 0;
}

.report {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
}

.images {
	width: 99%;
	position: relative;
}

.declaration {
	color: #D9D9D9;
	margin-right: 3px;
}