@charset "UTF-8";

.join_container {
	position: relative;
  	z-index: 1;
  	background: white;
  	max-width: 360px;
  	max-height: 450px;
  	margin: 0 auto 150px;
  	padding: 45px;
  	text-align: center;
  	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  	overflow: auto;
}

.join_container::-webkit-scrollbar {
	width: 7px;
}

.join_container::-webkit-scrollbar-thumb {
	height: 30%;
	background: #a5deeb;
	border-radius: 10px;
}

.join_container::-webkit-scrollbar-track {
	background: rgba(33, 122, 244, .1);
}

.join_box input {
  	outline: 0;
  	background: lightgray;
  	width: 100%;
  	border: 0;
  	margin: 0 0 15px;
  	padding: 15px;
  	box-sizing: border-box;
  	font-size: 14px;
  	border-radius: 10px;
}

.join_btn {
  	text-transform: uppercase;
  	outline: 0;
  	width: 100%;
  	border: 0;
  	padding: 15px;
  	font-size: 14px;
  	-webkit-transition: all 0.3 ease;
  	transition: all 0.3 ease;
  	cursor: pointer;
  	border-radius: 10px;
}

.join_radio_btn{
	display: flex;
	margin: 10px;
	float: left;
}

.join_btn:hover, .join_btn:active, .join_btn:focus {
	background: #b6dedc;
}

.join_text{
	padding: 20px;
	font-weight: bold;
}

input[type='date']::before {
  content: attr(data-placeholder);
  width: 100%;
}

.join_li_box {
	margin-top: 10px;
}

.join_terms_container {
	margin-top: 30px;
}

.terms_box{
	width: 100%;
	height: 100px;
	overflow: auto;
	margin-bottom: 20px;
	text-align: left;
	line-height: 25px;
	border: 1px solid #a5deeb;
}

.terms_box::-webkit-scrollbar {
	width: 7px;
}

.terms_box::-webkit-scrollbar-thumb {
	height: 30%;
	background: #a5deeb;
	border-radius: 10px;
}

.terms_box::-webkit-scrollbar-track {
	background: rgba(33, 122, 244, .1);
}


.join_terms_box {
	display: flex;
	width: 100%;
	margin: 10px;
}

.join_terms_box_chk {
	margin-left: 140px;
}

.join_ok_btn{
	text-transform: uppercase;
  	outline: 0;
  	width: 100%;
  	border: 0;
  	padding: 15px;
  	color: #6c6c6c;
  	font-size: 14px;
  	-webkit-transition: all 0.3 ease;
  	transition: all 0.3 ease;
  	cursor: pointer;
  	margin-top: 20px;
  	border-radius: 10px;
}

.join_ok_btn:hover, .join_ok_btn:active, .join_ok_btn:focus {
	background: #b6dedc;
}

.join_file_upload_btn {
  max-width: 100%;
  height: 45px;
  background: lightgray;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #777777;
  padding-left: 15px;
}

.join_file_upload_btn:hover {
    background: #b6dedc;
  }

.join_file_upload {
  display: none;
}

#prev_img {
	height: 150px;
	width: 150px;
	margin-bottom: 15px;
	display: none;
}


