#board_detail table {
	width: 800px;
	margin: auto;
	border-collapse: collapse
}

#board_detail table tr {
	text-align: center;
	padding: 4px 10px;
	border: 1px solid lightgray;
}

#board_detail table th {
	width: 150px;
	text-align: center;
	padding: 4px 10px;
	border: 1px solid lightgray;
}

#board_detail table td {
	width: 150px;
	text-align: center;
	padding: 4px 10px;
	border: 1px solid lightgray;
}

#board_detail input[type="button"] {
	width: 10%;
	margin: 20px auto;
	height: 20px;
	font-size: 15px;
}
