#board table {
	margin: 10px auto 50px;
}

.tab_bar2 {
	background-color: lightgray;
	width: 800px;
	margin: 0 auto;
	font-size: 20px;
	font-weight: bold;
	border-radius: 20px;
	padding: 5px;
}

#report_t table {
	width: 800px;
	margin: 15px auto 50px;
	border-collapse: collapse;
	font-size: 14px;
}

#report_h {
	width: 800px;
	margin: auto;
	display: flex;
	justify-content: space-between; /* 요소 사이의 간격을 최대한으로 벌림 */
	align-items: center;
}

#report_h h1 {
	margin: 0;
	font-weight: bold;
	font-size: 20px;
}

#report_h button {
	border: none;
	background-color: lightgray;
	cursor: pointer;
	border-radius: 15px;
	width: 70px;
	height: 30px;
	font-weight: bold;
}

#report_t table th {
	text-align: center;
	border-top: 1px solid black;
	padding: 4px 10px;
}

#report_t table td {
	text-align: center;
	border-top: 1px solid lightgray;
	padding: 4px 10px;
}

#report_t .no {
	width: 15%
}

#report_t .subject {
	width: 30%
}

#report_t .writer {
	width: 20%
}

#report_t .reg {
	width: 20%
}

/* paging */
#report_t table tfoot {
	text-align: center;
}

#report_t table tfoot ol.paging {
	display: inline-block; /* 가운데 정렬을 위해 인라인 블록으로 설정 */
	padding: 0; /* 리스트의 패딩 제거 */
}

#report_t table tfoot ol.paging li {
	display: inline;
	margin-right: 8px;
}

#report_t table tfoot ol.paging li a {
	display: inline;
	padding: 3px 7px;
	color: black;
	font-weight: bold;
}

#report_t table tfoot ol.paging li a:hover {
	background: lightgray;
	color: white;
	font-weight: bold;
}

#report_t .disable {
	display: inline;
	padding: 3px 7px;
	color: black;
}

#report_t .now {
	display: inline;
	padding: 3px 7px;
	background: lightgray;
	color: white;
	font-weight: bold;
}