#repwd_wrap {
    width: 80%;
    max-width: 600px;
    margin: 200px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Arial', sans-serif;
}

#repwd_wrap>form>h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    margin-bottom: 30px;
    color: #333;
}

#repwd_box {
	width: calc(100% - 10px);
}


#repwd_box input[type="password"] {
    width: calc(50% - 10px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

#msg {
    margin: 10px 0;
    color: red;
    font-size: 14px;
}

#repwd_wrap input[type="submit"],
#repwd_wrap input[type="button"] {
    width: calc(50% - 10px);
    padding: 10px;
    margin: 10px 5px;
    background-color: darkgray;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

#repwd_wrap input[type="button"]:hover,
#repwd_wrap input[type="submit"]:hover {
    background-color: gray;
}

@media (max-width: 600px) {
    #repwd_wrap input[type="submit"],
    #repwd_wrap input[type="button"],
    #repwd_box input[type="password"] {
        width: 100%;
        margin: 10px 0;
    }
}
