#board table {
	margin: 10px auto 50px;
}

.tab_bar {
	background-color: lightgray;
	width: 1000px;
	margin: 0 auto;
	font-size: 20px;
	font-weight: bold;
	border-radius: 20px;
	padding: 5px;
}

#user_t table {
	width: 1000px;
	margin: 15px auto 50px;
	border-collapse: collapse;
	font-size: 14px;
}

#user_h {
	width: 1000px;
	margin: auto;
	display: flex;
	justify-content: space-between; /* 요소 사이의 간격을 최대한으로 벌림 */
	align-items: center;
}

#user_h h1 {
	margin: 0;
	font-weight: bold;
	font-size: 20px;
}

#user_h button {
	border: none;
	background-color: lightgray;
	cursor: pointer;
	border-radius: 15px;
	width: 70px;
	height: 30px;
	font-weight: bold;
}

#user_t a {
	text-decoration: none;
}

#user_t table th {
	text-align: center;
	border-top: 1px solid black;
	padding: 10px 10px 5px 10px;
	height: 20px;
	font-weight: bold;
	font-size: 15px;
}

#user_t table td {
	text-align: center;
	border-top: 1px solid lightgray;
	padding: 4px 10px;
}

#user_t .name {
	width: 15%
}

#user_t .id {
	width: 15%
}

#user_t .email {
	width: 20%
}

#user_t .reg {
	width: 20%
}

#user_t .report {
	width: 10%
}

#user_t .del {
	width: 20%
}

/* paging */
#user_t table tfoot {
	text-align: center;
}

#user_t table tfoot ol.paging {
	list-style: none;
	display: inline-block; /* 가운데 정렬을 위해 인라인 블록으로 설정 */
	padding: 0; /* 리스트의 패딩 제거 */
}

#user_t table tfoot ol.paging li {
	display: inline;
	margin-right: 8px;
}

#user_t table tfoot ol.paging li a {
	display: inline;
	padding: 3px 7px;
	color: black;
	font-weight: bold;
}

#user_t table tfoot ol.paging li a:hover {
	background: lightgray;
	color: white;
	font-weight: bold;
}

#user_t .disable {
	display: inline;
	padding: 3px 7px;
	color: black;
}

#user_t .now {
	display: inline;
	padding: 3px 7px;
	background: lightgray;
	color: white;
	font-weight: bold;
}




.write_button {
	border: none;
	font-family: 'GmarketSansMedium';
	width: 100px;
	height: 40px;
	border-radius: 50px;
	font-size: 15px;
	background-color: #D9D9D9;
}

#del_write {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
}


.del_container {
	width: 500px;
	height: 300px;
	background-color: white;
	margin: auto;
	border-radius: 20px;
	border: 1px solid lightgray;
}

.del_content {
	font-family: 'NanumSquare';
	margin-top: 85px;
}

.del_container tr, .del_container td {
	border: 1px solid #D9D9D9;
	height: 35px;
	line-height: 35px;
	text-align: center;
	width: 300px;
}

.del_container input[type="text"], input[type="password"] {
	padding: 5px;
	margin: 5px;
	border: 1px solid lightgray;
}

.del_buttons {
	text-align: center;
	padding-top: 20px;
}

.del_button {
	border: none;
	font-family: 'GmarketSansMedium';
	width: 100px;
	height: 40px;
	border-radius: 50px;
	font-size: 15px;
	background-color: #D9D9D9;
	cursor: pointer;
	box-sizing: border-box;
}

.del_button:hover, .del_button:active {
	background-color: #b9b9b9;
	color: #868686;
}

