.tab_bar {
	background-color: lightgray;
	width: 1200px;
	margin: 0 auto;
	font-size: 20px;
	font-weight: bold;
	border-radius: 20px;
	padding: 5px;
}

#user_t table {
	width: 1200px;
	margin: 15px auto 50px;
	border-collapse: collapse;
	font-size: 14px;
}

#user_h {
	width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}

#user_h h1 {
	margin: 0px;
	font-size: 20px;
	font-family: 'GmarketSansMedium';
}

.filters {
	display: flex;
	align-items: center;
	font-family: 'GmarketSansMedium';
}

.filters label, .filters button {
	margin-left: 10px;
}

.filters button {
	font-family: 'GmarketSansMedium';
	width: 40px;
	height: 27px;
	color: black;
	border-radius: 50px;
	border: 1.5px solid;
}

.filters button:hover {
	background: lightgray;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.material-symbols-outlined {
	font-size: 20px;
	margin: 0 auto;
}

/* #user_h button {
	border: none;
	background-color: #D9D9D9;
	border: 1px solid black;
	border-bottom: 0px solid black;
	border-collapse: collapse;
	cursor: pointer;
	width: 100px;
	height: 30px;
	border-top-left-radius: 10px; 
	border-top-right-radius: 10px;
	font-family: 'GmarketSansMedium';
} */
#user_t a {
	text-decoration: none;
}

#user_t table th {
	text-align: center;
	border-top: 1px solid black;
	padding: 10px 10px 5px 10px;
	height: 20px;
	font-weight: bold;
	font-size: 15px;
}

#user_t table td {
	text-align: center;
	border-top: 1px solid lightgray;
	padding: 4px 10px;
}

#user_t .name {
	width: 15%
}

#user_t .id {
	width: 15%
}

#user_t .email {
	width: 20%
}

#user_t .reg {
	width: 20%
}

#user_t .report {
	width: 10%
}

#user_t .del {
	width: 20%
}

/* paging */
#user_t table tfoot {
	text-align: center;
}

#user_t table tfoot ol.paging {
	list-style: none;
	display: inline-block; /* 가운데 정렬을 위해 인라인 블록으로 설정 */
	padding: 0; /* 리스트의 패딩 제거 */
}

#user_t table tfoot ol.paging li {
	display: inline;
	margin-right: 8px;
}

#user_t table tfoot ol.paging li a {
	display: inline;
	padding: 3px 7px;
	color: black;
	font-weight: bold;
}

#user_t table tfoot ol.paging li a:hover {
	background: lightgray;
	color: white;
	font-weight: bold;
}

#user_t .disable {
	display: inline;
	padding: 3px 7px;
	color: black;
}

#user_t .now {
	display: inline;
	padding: 3px 7px;
	background: lightgray;
	color: white;
	font-weight: bold;
}

.del_button, .user_button {
	border: none;
	font-family: 'GmarketSansMedium';
	width: 100px;
	height: 40px;
	border-radius: 50px;
	font-size: 15px;
	background-color: #D9D9D9;
}

.restore_button {
	border: none;
	font-family: 'GmarketSansMedium';
	width: 100px;
	height: 40px;
	border-radius: 50px;
	font-size: 15px;
	background-color: #D9D9D9;
	color: gray;
}

.del_container, .restore_container {
	width: 400px;
	height: 200px;
	background-color: white;
	margin: auto;
	border-radius: 20px;
}

.user_container {
	margin: 20px auto;
	width: 900px;
	height: 700px;
	background-color: white;
	border-radius: 20px;
	border: 1px solid lightgray;
}

.del_content, .restore_content {
	font-family: 'NanumSquare';
	margin-top: 85px;
}

.user_content {
	font-family: 'NanumSquare';
	margin: 30px 10px 10px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.user_content caption {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
}

.user_content table {
	width: 850px;
}

.user_content table th {
	background-color: #F2F2F2;
	border: 1px solid #D9D9D9;
	width: 30%;
}

.del_container tr, .del_container td, .restore_container tr,
	.restore_container td, .user_container tr, .user_container td {
	border: 1px solid #D9D9D9;
	height: 35px;
	line-height: 35px;
	text-align: center;
	width: 300px;
}

.del_container input[type="text"], input[type="password"],
	.restore_container input[type="text"], input[type="password"] {
	padding: 5px;
	margin: 5px;
	border: 1px solid lightgray;
}

.del_buttons, .restore_buttons, .user_buttons {
	text-align: center;
	padding-top: 20px;
}

.del_button, .restore_button, .restore_button2, .user_button {
	border: none;
	font-family: 'GmarketSansMedium';
	width: 100px;
	height: 40px;
	border-radius: 50px;
	font-size: 15px;
	background-color: #D9D9D9;
	cursor: pointer;
	box-sizing: border-box;
}

.del_button:hover, .del_button:active, .restore_button:hover,
	.restore_button:active, .user_button:hover, .user_button:active {
	background-color: #b9b9b9;
	color: #868686;
}

.active-row {
	color: lightgray;
}

.re_active-row{
	color: #FF6347;
}

/* 모달 스타일 */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 10px;
	border: 1px solid #888;
	max-width: 400px;
	width: 80%;
	border-radius: 20px;
}

.close, .close2 {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus, .close2:hover, .close2:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

@media ( max-width : 600px) {
	#user_t {
		width: 100%;
		margin: 10px 0;
	}
}